<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Service</title>
    <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<center>
<h2>Eureka!!!</h2>
<hr>
<p> Your file {{filename}} has been uploaded successfully. </p>
<form action='/viewImageList' method="POST">
	<input type="submit" id="buttonUpload" value="View my Images"/>
</form>

<br>
<a href="/">Upload another image</a>

</body>
</html>