<!DOCTYPE html>
       <html lang="en">
       <head>
           <meta charset="UTF-8">
           <title>The Service</title>
           <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
       </head>
       <body>

       <h2>Not an image !!</h2>

       <a href="/">Back to upload page</a>
       <hr>
       </body>
       </html>